*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;    
    overflow-y: hidden;    
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}  

.slide-1{
    font-size: 2em;
    height: 100vh;
    color: white;
    padding: 20px;
    background: url(images/slides/background2.png) no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide-2{
    background: url(images/slides/background1.png) no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
}

.slide-1-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-side, .right-side{
    width: 50%;
    /* text-align: center; */
}

.left-side{

}

.left-side>img{
    width: 90%;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 80vh;
}

.right-side>img{
    width: 90%;
}

.right-side > button {
    /* width: 250px; */
    width: 250px;
    height: 90px;
    border: none;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;     
    font-size: 24px;
    background: #ffa200;
    border-bottom: 8px solid #d97d23;
    outline: none;
    cursor: pointer;
}

.right-side > button>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px;
}

.email > a, .phone > a {
    text-decoration: none !important;
    color: #fd8005 !important;
}

.clr1{
    color: #75d345;
}

.inform{
    text-align: right;
}

.inform{
    font-size: 32px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.bottom{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15vh;
}


.bottom__left{
    width: 50%;
    text-align: left;
}

.bottom__right{
    width: 50%;
    text-align: center;
}

.bottom__right .textarea{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    background: white;
    opacity: 0.7;
    font-family: 'PT Sans Narrow', sans-serif;   
    /* position: relative; */
    /* z-index: -1; */
    background: white;
    padding: 20px;
    text-align: left;
}

.textarea > img{
    width: 100%;
}

.boxed{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.conds{
    font-size: 86px;
    font-weight: bold;
    /* font-family: 'Open Sans', sans-serif;    */
    font-family: 'Yanone Kaffeesatz', sans-serif;    
    line-height: 0.8; 
}

.game{
    font-family: 'Yanone Kaffeesatz', sans-serif;  
    font-size: 56px;     
}

.kvz{
    font-size: 44px; 
    font-weight: 400;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: Helvetica;
    font-weight: lighter;
}

.bottom__left{
    color: white;
}

.contacts{
    visibility: hidden;
}


/* Animations */
/* @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 0px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 0px 50px;
    }
  } */

  /* Main styles */
  /* body {
    background:  url(images/icon/testimonial.png) repeat;
    background-size: cover;    
     -webkit-animation: bg-scrolling-reverse 15s infinite;
    animation: bg-scrolling-reverse 15s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  } */


  @keyframes animatedBackground {
    0 {
        background-position: 0 0;
    }
    100% {
        background-position: -600px 600px; /* анимируем свойство background-position */
    }
}
/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {
    0 {
        background-position: 0 0;
    }
    100% {
        background-position: -600px 600px;
    }
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {
    0 {
        background-position: 0 0;
    }
    100% {
        background-position: -600px 600px;
    }
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {
    0 {
        background-position: 0 0;
    }
    100% {
        background-position: -600px 600px;
    }
}
/* не нужно использовать префикс -ms, так как свойства keyframes и animation поддерживаются с версии IE10 без префикса */
#fon{
	background-image: url(images/icon/testimonial.jpg);
	animation: animatedBackground 60s linear infinite;
	-moz-animation: animatedBackground 60s linear infinite;
	-webkit-animation: animatedBackground 60s linear infinite;
 	-o-animation: animatedBackground 60s linear infinite;
	/* так же, как и с @keyframes, префикс -ms тут ни к чему */
}